In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df1 = DataFrame(np.arange(8).reshape(2, 4),
                index=pd.Index(['LA','SF'], name='city'),
                columns=pd.Index(['A', 'B', 'C', 'D'], name='letter'))
df1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [3]:
df1_st = df1.stack()

df1_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [4]:
df1_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [5]:
df1_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [6]:
df1_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [8]:
ser1 = Series([0, 1, 2], index=['Q', 'X', 'Y'])
ser2 = Series([4, 5, 6], index=['X', 'Y', 'Z'])

In [11]:
df2 = pd.concat([ser1, ser2], keys=['Alpha', 'Beta'])
df2

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [12]:
df2.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [13]:
df2.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [19]:
df2 = df2.unstack()
df2

Alpha  Q    0.0
       X    1.0
       Y    2.0
       Z    NaN
Beta   Q    NaN
       X    4.0
       Y    5.0
       Z    6.0
dtype: float64

Something appears to have changed between the tutorial sessions & the current Python release in terms of stacking.