In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

Text insertion to test github

In [2]:
arr1 = np.arange(9).reshape(3, 3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
np.concatenate([arr1, arr1], axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [6]:
np.concatenate([arr1, arr1], axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
ser1 = Series([0, 1, 2], index=['T', 'U', 'V'])
ser2 = Series([3, 4], index = ['X', 'Y'])

ser1

T    0
U    1
V    2
dtype: int64

In [8]:
ser2

X    3
Y    4
dtype: int64

In [9]:
pd.concat([ser1, ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [10]:
pd.concat([ser1, ser2], axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [11]:
pd.concat([ser1, ser2], keys=['cat1', 'cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [12]:
df1 = DataFrame(np.random.randn(4, 3), columns=['X', 'Y', 'Z'])
df2 = DataFrame(np.random.randn(3, 3), columns=['Y', 'Q', 'X'])

df1

          X         Y         Z
0 -0.216376  0.227674 -0.192209
1 -0.611385 -0.424152 -2.690068
2  1.260884 -0.502962  0.494298
3 -1.003751  1.720748 -0.387850

In [13]:
df2

          Y         Q         X
0 -0.589287  0.304596  0.001840
1 -0.207547  0.708623  0.269136
2  1.569209 -2.418075 -0.182173

In [14]:
pd.concat([df1, df2])

          Q         X         Y         Z
0       NaN -0.216376  0.227674 -0.192209
1       NaN -0.611385 -0.424152 -2.690068
2       NaN  1.260884 -0.502962  0.494298
3       NaN -1.003751  1.720748 -0.387850
0  0.304596  0.001840 -0.589287       NaN
1  0.708623  0.269136 -0.207547       NaN
2 -2.418075 -0.182173  1.569209       NaN

In [16]:
pd.concat([df1, df2], ignore_index=True)

          Q         X         Y         Z
0       NaN -0.216376  0.227674 -0.192209
1       NaN -0.611385 -0.424152 -2.690068
2       NaN  1.260884 -0.502962  0.494298
3       NaN -1.003751  1.720748 -0.387850
4  0.304596  0.001840 -0.589287       NaN
5  0.708623  0.269136 -0.207547       NaN
6 -2.418075 -0.182173  1.569209       NaN